<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Formulario</title>
</head>
<body class="font-roboto bg-gradient-to-r from-blue-400 to-purple-500 flex justify-center items-center h-screen m-0">
    <div class="container flex justify-center items-center w-full max-w-md p-5">
        <div class="form-container bg-white p-8 rounded-lg shadow-lg w-full text-center">
            <h1 class="mb-6 text-2xl text-gray-800">Bienvenido</h1>
            <div class="input-group mb-4 text-left">
                <label for="email" class="block mb-1 text-gray-700">Correo Electrónico</label>
                <input type="email" id="email" class="w-full p-2 border border-gray-300 rounded-lg" required>
            </div>
            <div class="input-group mb-4 text-left">
                <label for="password" class="block mb-1 text-gray-700">Contraseña</label>
                <input type="password" id="password" class="w-full p-2 border border-gray-300 rounded-lg" required>
            </div>
            <div class="button-group flex justify-between gap-2">
                <button class="login-btn w-full p-3 bg-purple-600 text-white rounded-lg hover:bg-purple-800" type="submit">Iniciar Sesión</button>
                <button class="register-btn w-full p-3 bg-purple-600 text-white rounded-lg hover:bg-purple-800" type="button" onclick="showRegistrationOptions()">Registrarse</button>
            </div>
            <div class="input-group mt-4">
                <a href="#" class="text-purple-600 hover:text-purple-800">¿Olvidaste tu contraseña?</a>
            </div>
            <div id="registration-options" class="mt-5 hidden">
                <h2 class="text-xl text-gray-800 mb-6">Selecciona tu tipo de cuenta</h2>
                <button class="user-btn bg-blue-500 text-white mb-2 py-2 px-4 rounded hover:bg-blue-700" type="button" onclick="window.location.href='register_user.html'">Usuario</button>
                <button class="driver-btn bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700" type="button" onclick="window.location.href='register_driver.html'">Conductor</button>
            </div>
        </div>
    </div>

    <script>
        function showRegistrationOptions() {
            document.getElementById('registration-options').classList.toggle('hidden');
        }
    </script>
</body>
</html>
