{% extends "_base.html" %}

{% block content %}

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
        padding: 20px;
    }
    
    .form-container {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        text-align: center;
    }
    
    h1 {
        margin-bottom: 30px;
        color: #333333;
    }
    
    #rideRequests {
        list-style-type: none;
        padding: 0;
    }
    
    .ride-request {
        background-color: #f9f9f9;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: left;
    }
    
    .ride-request h2 {
        margin: 0 0 10px;
        color: #555555;
    }
    
    .ride-request p {
        margin: 5px 0;
        color: #777777;
    }
    
    .ride-request button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .ride-request button:hover {
        background-color: #45a049;
    }
    
</style>

    <div class="container">
        <div class="form-container">
            <h1>Solicitudes Cercanas</h1>
            <ul id="rideRequests">
                <!-- Solicitudes de viaje se añadirán aquí dinámicamente -->
            </ul>
        </div>
    </div>

{% endblock content %}