<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Viajes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Historial de Viajes</h1>
            <ul id="tripHistory">
                <!-- Historial de viajes se añadirá aquí dinámicamente -->
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
