<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Bienvenido</h1>
            <p>Elige una opción para continuar</p>
            <div class="button-group">
                <a href="request_ride.html" class="button">Solicitar Viaje</a>
                
            </div>
        </div>
    </div>
</body>
</html>
